@model IEnumerable<Article>

<h1>Articles</h1>
<a asp-action="Create">Create New Article</a>
<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Expiration Date</th>
        <th>Category</th>
        <th>Actions</th>
    </tr>
    @foreach (var article in Model)
    {
        <tr>
            <td>@article.Name</td>
            <td>@article.Price</td>
            <td>@article.bestBefore.ToShortDateString()</td>
            <td>@article.Category</td>
            <td>
                <a asp-action="Details" asp-route-id="@article.Id">Details</a> |
                <a asp-action="Edit" asp-route-id="@article.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@article.Id">Delete</a>
            </td>
        </tr>
    }
</table>

